<template>
<div class="large-card" id="login">
  
  <div class="row">
    <div class="column">
      <h3>
        <img class="float-left asesoraicon" src="favicon.ico" alt="Icono Asesora">
        &nbsp;{{ labels.title }}
      </h3>

      <div class="instructions">
        {{ labels.instructions }}
      </div>

      <div class="g-signin2 sign" data-onsuccess="onSignIn"></div>

      <div v-if="values.error" id="login-error" class="alert background-danger">
        {{ labels.unauthorizedEmail }}
      </div>

    </div>
  </div>

</div>

</template>

<script>
export default {
  name: 'login'
}
</script>

<style scoped>
  img {
    vertical-align: middle;
    width: 25px;
    padding-bottom: 6px;
  }

  #login {
    margin: auto;
    margin-top: 300px;
  }

  .instructions {
    margin-bottom: 20px;
  }

  .sign {
    text-align: -webkit-center;
  }
</style>
