<template>
  <div class="button-inline">
    <button id="submit"
            type="button"
            name="submit"
            class="submitbutton"
            :title="showWarningIfNotJustifiable()"
            :disabled="!isSubmittable"
            v-on:click="submit()">
      <template v-if="isCreationMode">{{ labels.submit }}</template>
      <template v-if="isEditionMode">{{ labels.editionsubmit }}</template>
      <label v-if="warning" class="fa fa-warning"></label>
    </button>
  </div>
</template>

<script>
import { Bus } from '../../bus'

export default {
  name: 'solicitude-button-submit',
  props: [
    'labels',
    'values',
    'isEditionMode',
    'isCreationMode',
    'isSubmittable',
    'warning',
    'requiredIncomplete'
  ],

  methods: {
    showWarningIfNotJustifiable(){
      if(this.warning){
        return this.labels.notJustifiable
      }
      return ""
    },

    submit(){
      let event = 'submit.solicitude'
      if (this.isEditionMode) {
        event = 'edit.solicitude'
      }

      Bus.publish(event)
      let button = this.$el.querySelector('button')
      button.innerText = this.labels.editionsubmitting
      this.isSubmittable = false
    }
  }
}
</script>

<style scoped>
</style>
