<template>
  <div>
    <label for="source">{{ labels.source }}
      <label  v-if="!values.source.text"
              class="fa fa-warning"
              :title="labels.required"
              :alt="labels.required">
      </label>
      <a target="_blank"
         title="Sugerir cambios a la lista de Medio de entrada de este campo"
         href="https://docs.google.com/forms/d/e/1FAIpQLScp6g7HLKPhK94yHXRgnRFXfH8KjSxhQ1C0e_SoeTk0X4S8jw/viewform">
         {{ labels.suggestChanges }}
      </a>
    </label>
    <basic-select id="source"
                  :options="sourceCatalog"
                  :selected-option="values.source"
                  @select="onSelect"
                  v-model="values.source"
                  >
    </basic-select>
  </div>
</template>

<script>
  import { BasicSelect } from 'vue-search-select'
  import { Bus } from '../../bus'

  export default {
    name: 'solicitude-source-format',
    props: ['labels', 'values', 'sourceCatalog'],
    methods: {
      onSelect (item) {
        this.values.source = item
        Bus.publish('changed.source')
      },
      reset () {
        this.item = {}
      },
      selectOption () {
        // select option from parent component
        this.item = this.options[0]
      }
    },
    components: {
      BasicSelect
    }
  }
</script>
<style>
  .ui.selection.dropdown .menu > .item {
    font-size: 1.5rem !important;
    border-color: #eee !important;
  }
  .ui.selection.active.dropdown .menu {
    border-color: #eee !important;
  }
  .ui.selection.active.dropdown:hover {
    border-color: #eee !important;
  }
</style>
