<template>
  <div class="button-inline">
    <button  id="discard-company"
            type="button"
            name="discard"
            :disabled="!saveCompany"
            class="discardbutton button-clear"
            v-on:click="discardCompany()">
      {{ labels.editiondiscard }}
    </button>
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {

  name: 'company-discard-button',

  props: ['labels' , 'saveCompany'],

  methods: {
    discardCompany() {
      Bus.publish('clicked.discard.company.button')
    }
  }
}
</script>

<style scoped>
</style>
