<template>
  <div class="button-inline">
    <button id="edit-company"
            type="button"
            name="edit-company"
            class="submitbutton"
            v-on:click="edit()">
    {{ labels.editCompany }}</button>
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'solicitude-button-submit',

  props: ['labels'],

  methods: {
    edit(){
      Bus.publish('clicked.edit.company')
    }
  }
}
</script>

<style scoped>
</style>
