<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <a
            class="close"
            v-on:click="closeModal()">
            X
          </a>


          <div class="modal-body">
            <subject-edition  :labels="labels"
                              :values="values"
                              :topics-catalog="topicsCatalog"
                              :proposals-catalog="proposalsCatalog"
                              :isSubmittable="isSubmittable"
                              :edition-subject="editionSubject"
                              :isEditionMode="isEditionMode"
                              :reasons-catalog="reasonsCatalog"
                              :warning-subject="warningSubject"
                              :projects-catalog="projectsCatalog"
                              :download-url="downloadUrl"
                              :isValidShareEmail="isValidShareEmail"
                              :showShareEmail="showShareEmail"
                              :showCloseSubjectModal="showCloseSubjectModal"
                              >
            </subject-edition>
            <button class="submitbutton"
              v-on:click="closeModal()">
              {{ labels.cancel }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import SubjectEditionView from './subject-edition'
  import { Bus } from '../../../bus'

  export default {
    name: 'subject-edit-modal',
    props: ['labels', 'values', 'topicsCatalog', 'proposalsCatalog',
            'isSubmittable', 'reasonsCatalog', 'warningSubject',
            'projectsCatalog', 'editionSubject', 'editionSubject',
            'isEditionMode', 'downloadUrl', 'isValidShareEmail',
            'showShareEmail', 'showCloseSubjectModal'],

    components: {
      "subject-edition" : SubjectEditionView
    },
    methods: {
      closeModal(){
        console.log("cierrate")
        Bus.publish('clicked.close.subject.edition')
      }
    }
  }
</script>

<style scoped>
  .modal-mask {
  }

  .modal-wrapper {
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
    position: fixed;
  }

  .modal-container {
    margin: 2em;
    padding: 2em;
    background-color: #fff;
    border-radius: 2px;
    height: 95%;
    overflow-y: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-body {
    margin: 20px 0;
  }

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .close {
    float: right;
    top:3px;
    right:3px;
    background-color: #333;
    padding:7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color:#fff;
  }
</style>
