<template>
  <div id='subjects-list'>
    <div class="card-title">
      <h2 v-if="values.subjects.length > 0" >{{ labels.subjectsList }}</h2>
    </div>
    <div>
      <table>
        <tr v-for="item in values.subjects"
            v-on:click="onClick(item)" id="subject">
          <td>
            <div class="row grid-responsive" v-bind:class="{ closedSubject: isClosed(item) }">
              <div class="column column-20">
                <h4>
                  <template v-if="isEditionMode">{{labels.modify}}</template>
                  {{labels.subject}} {{ item.numeration }}:
                </h4>
              </div>
              <div class="column column-80">
                <template v-if="editionSubject == item.id" >
                 <subject-edition  :labels="labels"
                                   :values="values"
                                   :topics-catalog="topicsCatalog"
                                   :proposals-catalog="proposalsCatalog"
                                   :isSubmittable="isSubmittable"
                                   :edition-subject="editionSubject"
                                   :isEditionMode="isEditionMode"
                                   :reasons-catalog="reasonsCatalog"
                                   :warning-subject="warningSubject"
                                   :projects-catalog="projectsCatalog"
                                   :showShareEmail = "showShareEmail"
                                   :isValidShareEmail = "isValidShareEmail">
                  </subject-edition>
                </template>
                <template v-else>
                  <label>{{ labels.created }}</label>
                  <p>{{ item.created | es }}</p>
                  <label>{{ labels.project }}</label>
                  <template v-if="isNotEmpty(item.project)">
                    <p>{{ item.project.value }}</p>
                  </template>
                  <template>
                    <label>{{ labels.topics }}
                     <label  v-if="isListEmpty(item.topics) && owner"
                             class="fa fa-warning"
                             :title="labels.required"
                             :alt="labels.required">
                     </label>
                    </label>
                    <ul>
                     <li v-for="topic in item.topics">
                       {{ topic.name }}
                     </li>
                    </ul>
                  </template>

                  <template v-if="isFilled(item.analysis) ">
                    <label>{{ labels.analysis }}</label>
                    <p>{{ item.analysis }}</p>
                  </template>

                  <template>
                    <label>{{ labels.proposals }}
                      <label  v-if="isListEmpty(item.proposal) && owner"
                              class="fa fa-warning"
                              :title="labels.required"
                              :alt="labels.required">
                      </label>
                    </label>
                    <ul>
                      <li v-for="proposal in item.proposal">
                        {{ proposal }}
                      </li>
                    </ul>
                  </template>

                  <template v-if="isFilled(item.description) ">
                    <label>{{ labels.description }}</label>
                    <p>{{ item.description }}</p>
                  </template>
                </template>
                <template>
                  <label>{{ labels.files }}
                  </label>
                  <ul>
                    <li v-for="file in item.files">
                      <template v-if="owner">
                        <a :href="downloadUrl + file.id">{{ file.name }}</a>
                        <a href='#' @click.prevent='deleteAttachment(file.id)'>
                          <em class="fa fa-trash red"></em>
                        </a>
                      </template>
                      <template v-else>
                        {{file.name}}
                      </template>
                    </li>
                  </ul>
                </template>

                <template v-if="isFilled(item.closed)">
                  {{ labels.closedSubject }}: {{ item.closed }}
                </template>
                <template v-if="item.reason != null">
                  <br>{{ labels.reason }}: {{ item.reason.text }}
                </template>
                <template v-if="isFilled(item.comments)">
                  <br>{{ labels.comments }}: {{ item.comments }}
                </template>
                <label v-if="item.shared_destination" class="alert-involved">
                  <i id="shared"
                    :title='labels.shared'
                    class="fa fa-share-alt">
                  </i>
                  {{labels.subjectInvolved}}
                  <a class="solicitude-show-button"
                    target="_blank"
                    v-on:click='showSubject(item.shared_destination.id)'>
                      {{item.shared_destination.numeration}}
                  </a>
                </label>

              </div>
            </div>
            <template v-if="modifiedSubjectId == item.id">
              <em>{{labels.subjectModified}}</em>
            </template>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import SubjectEditionView from './subject-edition'
import SubjectButtonDelete from './subject-button-delete'
import { Bus } from '../../../bus'

  export default {
    name: 'subject-cards-list',

    filters: {
      es: function (date_en) {
        if (date_en === undefined) { return date_en }
        const date_parts = date_en.split('-')
        return date_parts.reverse().join('/')
      }
    },

    props: ['labels', 'values', 'topicsCatalog', 'proposalsCatalog',
            'editionSubject', 'modifiedSubjectId', 'isSubmittable',
            'isEditionMode', 'reasonsCatalog', 'warningSubject',
            'projectsCatalog', 'owner', 'downloadUrl', 'isValidShareEmail', 'showShareEmail'],

    components: {
      "subject-edition" : SubjectEditionView,
      "subject-button-delete": SubjectButtonDelete
    },
    methods: {
      isFilled(value){
        if (!value){ return false }
        return value.length > 0
      },

      isClosed(item){
        if (item.closed !== null){ return true }
        return false
      },

      isListEmpty(list){
        if (!list){ return true }
        return list.length == 0
      },

      isNotEmpty(project) {
        if (project == null || Object.keys(project).length == 0){
          return false
        }
        return true
      },

      onClick(item){
        if (item.id != this.editionSubject){
          this.values.files = []
          Bus.publish('clicked.subject.list', { detail: item })
        }
      },
      deleteAttachment(id){
        if (window.confirm(this.labels.removeConfirmAttachment)){
          Bus.publish('delete.attachment', {id: id})
        }
      },
      showSubject(id) {
        Bus.publish('show.shared.solicitude', id)
      }
    }
  }
</script>
