<template>
  <div v-if="suggestedApplicants.length > 0">
    <label>{{ labels.suggestions }}</label>
    <table>
      <thead>
        <tr>
          <th>{{ labels.applicantName }}</th>
          <th>{{ labels.applicantSurname }}</th>
          <th>{{ labels.applicantEmail }}</th>
          <th>{{ labels.applicantPhonenumber }}</th>

        </tr>
      </thead>
      <tbody>
        <tr v-on:click="onClick(item)"
            v-for="item in suggestedApplicants">
            <td>{{ item.name }}</td>
            <td>{{ item.surname }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phonenumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { Bus } from '../../../bus'

  export default {
    name: 'applicant-matches',
    props: ['labels', 'suggestedApplicants'],

    methods: {

      onClick(item){
          this.selectApplicant(item)
      },

      selectApplicant(item){
        Bus.publish('clicked.applicant', { detail: item })
      }
    }
  }

</script>
<style scoped>
  table{
    width: 100%;
    height: 335px;
    overflow: auto;
    display: block;
  }
</style>
